extends layout

block sessionvars
	- var authUser = sessionUser
	
block content
	include navigation
	div.container
		h3 Users Admin
		div.content-block
			a(href='/user')#btn-adduser.btn.float-right
				i.icon-plus.icon-black
				| Add User
			table.table#table1
				thead
					tr
						th User
						th Name
						th Role
						th Creation Date

				tbody.autolink
					each user in userList
						tr
							td
								a(href='/user/#{user._id}')
									span=user.user
							td=user.name
							td=user.role
							td=user.creation.format('DD/MM/YYYY HH:mm')

block scripts
	script(src='/vendor/jquery.form.js')