extends layout
block sessionvars
	- var authUser = sessionUser;
	- var pageTitle = title;
block content
	include navigation

	- event = typeof(event) != 'undefined' ? event : {participants:[]}
	- var medics = []
	
	script
		|var userNames = {
		- each user in userList
			|"#{user.name}":"#{user._id}",
			-if(user.role==='Medic') {medics.push(sprintf("'%s'",user._id));}
		|"":""};var userUsers = {
		- each user in userList
			|"#{user.user}":"#{user._id}",
		|"":""};var medics = [#{medics.join()}];
	
	#form-container.content-block
		form(method="post", action="/event")#event-form
			if event._id
				h1 Editing event
			else
				h1 Insert new event
			hr
			if event._id
				input#eventId(type="hidden", value=event._id, name='eventId')
			.form-input
				label.control-label(for='txt-date') Date
				input#txt-date.input-xlarge(type='text', name='date', value= event.date, placeholder="Click to pick up date")
			.form-input
				label.control-label(for='txt-hour') Hour
				input#txt-hour.input-xlarge(type='text', name='hour', value= event.hour,  placeholder="HH:MM")
			.form-input
				label.control-label(for='event-tf') Duration
				select#duration.input-xlarge(name='duration')
					- for (var i = 2; i < 49; ++i) {
					option(value=i*10, selected=(i*10)==event.duration) #{i*10} min
					- }
			.form-input
				label.control-label(for='txt-comments') Comments
				input#txt-comments.input-xlarge(type='text', name='comments', value=event.comments)
			.form-input
				label.control-label(for='txt-patient') Patient
				input#txt-patient.input-xlarge(type='text', name='patient-name', value=event.patient)
			.form-input
				label.control-label(for='pass-tf') Participant
				input#add-participant.input-xlarge(type='text', name='add-participant', placeholder="Insert name or user and click the plus button")
				i#btn-add-participant.float-right.icon-plus.icon-black
			.form-input
				label.control-label(for='chk-moderated') Moderation
				input#chk-moderated(type='checkbox', name='moderated', checked=event.moderated)
			table.table
				thead
					th Participants (click to remove)
				tbody#table-participants
					each participant in event.participants
						if(participant != event.patient)
							tr(id=participant): td=participant
				
			.form-actions
				span#response-panel
				if event._id
					a#btn-cancel.btn.btn-danger Cancel event
					button(type='submit')#account-form-submit.btn Update
					a.hide.btn.btn-success Join
				else
					button(type='submit')#account-form-submit.btn Create
				

	include modals/modal

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/jquery-ui.min.js')
	script(src='/js/views/eventform.js')