extends layout

block sessionvars
	- var authUser = sessionUser
	- var pageTitle = title
	
block content
	include navigation
	div.container
		if(authUser.room)
			h3 Own Events
			div.content-block
				a(href='/event')#btn-addevent.btn.float-right
					i.icon-plus.icon-black
					| New event
				table.table.table-bordered.table-striped#table1
					thead
						tr
							//(style='width:40px')
							th Start
							th Duration
							th Participants
							th Comments/Subject
					tbody.autolink
						each event in ownEventList
							-event.participants = []
							tr
								td
									a(href='/event/#{event._id}/')
										span=event.start
								td=event.duration+' min'
								td=event.participants.join(', ')
								td=event.comments
								
		h3 Events you are invited
		div.content-block
			table.table.table-bordered.table-striped#table1
				thead
					tr
						//(style='width:40px')
						th Start
						th Duration
						th Participants
						th Comments/Subject
				tbody.autolink
					each event in guestEventList
						tr
							td
								a(href='/event/#{event._id}/')
								span=event.start
							td=event.duration+' min'
							td
							//td=event.participants.join(', ')
							td=event.comments

	include modals/modal

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/js/views/events.js')