extends layout
block sessionvars
	- var authUser = sessionUser;
	- var pageTitle = title;
block content
	include navigation

	//- event = typeof(event) != 'undefined' ? event : { }
	-var medics = []
	
	script
		|var userNames = {
		- each user in userList
			|"#{user.name}":"#{user._id}",
			-if(user.role==='Medic') {medics.push(sprintf("'%s'",user._id));}
		|"":""};var userUsers = {
		- each user in userList
			|"#{user.user}":"#{user._id}",
		|"":""};var medics = [#{medics.join()}];
		
	
	#form-container.content-block
		h1 Appointment panel
		hr
		.form-input
			label.control-label Start
			label.data=event.start
		.form-input
			label.control-label Reserved
			label.data=event.duration+' min'
		.form-input
			label.control-label Medic
			label.data.user=event.owner
		if(event.collaborators && (event.collaborators.length > 0))
			.form-input
				label.control-label Collaborators
				div.data: table#collaborators
		.form-input
			label.control-label Patient
			label.data.user=event.patient
		.form-input
			label.control-label Other assistants
			div.data: table
				each par in event.participants
					if(par != event.patient)
						tr: td.user=par
		.form-input
			label.control-label Comments
			label.data=event.comments
		.form-input
			label.control-label Status
			label#event-status.data Retrieving...
			label#participation-status.data
				if(event.participationstatus==='Invited')
					| Waiting assistance confirmation
				else if(event.participationstatus==='WontCome')
					| You have checked you are not comming
				else if(event.participationstatus==='Confirmed')
					| You have confirmed your assistance
			
		.form-actions
			a#btn-wontcome.btn.btn-danger(disabled=(event.participationstatus==='WontCome')) Cancellations/modifications
			a#btn-confirm.btn(disabled=(event.participationstatus==='Confirmed')) Confirm assistance
			a#btn-join.hide.btn.btn-success(href="join") Join

	include modals/modal

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/jquery-ui.min.js')
	script(src='/js/views/event.js')