extends layout

block sessionvars
	- var authUser = sessionUser
	- var pageTitle = title
	
block content
	include navigation
	div.container
		if(authUser.room)
			h3 Own Events
			div.content-block
				span#btn-filter-own
					span#btn-filter-active.btn.btn-filter.active
						| Active
					span#btn-filter-closed.btn
						| Closed
					span#btn-filter-cancelled.btn
						| Cancelled
				a(href='/event')#btn-addevent.btn.float-right
					i.icon-plus.icon-black
					| New event
				table.table.table-bordered.table-striped#table1
					thead
						tr
							th(style='width:110px') Start
							th Duration
							th Participants
							th Comments/Subject
					tbody#table-body-own.autolink
						each event in ownEventList
							tr
								td
									a(href='/eventform/#{event._id}/')
										span=event.start
								td=event.duration+' min'
								td
									p=event.patient +' (Patient)'
									each p in event.participants
										if(p != event.patient)
											p=p
								td=event.comments
								
		h3 Events you are invited
		div.content-block
			span#btn-filter
					span#btn-filter-active.btn.btn-filter.active
						| Active
					span#btn-filter-closed.btn
						| Closed
					//span#btn-filter-cancelled.btn
					//	| Cancelled
			table.table.table-bordered.table-striped#table1
				thead
					tr
						//(style='width:40px')
						th Start
						th Duration
						th Participants
						th Comments/Subject
				tbody#table-body-invited.autolink
					each event in guestEventList
						tr
							td
								a(href='/event/#{event._id}/')
								span=event.start
							td=event.duration+' min'
							td
								p=event.medic+' (Medic)'
								p=event.patient+' (Patient)'
								each p in event.participants
									if(p != event.patient)
										p=p
							if event.comments != null
								td=event.comments
							else
								td

	include modals/modal

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/js/views/events.js')