extends layout
block sessionvars
	- var authUser = sessionUser;
	- var pageTitle = title;
block content
	include navigation

	//- event = typeof(event) != 'undefined' ? event : { }
	-var medics = []
	
	script
		|var userNames = {
		- each user in userList
			|"#{user.name}":"#{user._id}",
			-if(user.role==='Medic') {medics.push(sprintf("'%s'",user._id));}
		|"":""};var userUsers = {
		- each user in userList
			|"#{user.user}":"#{user._id}",
		|"":""};var medics = [#{medics.join()}];
		
	
	#account-form-container.content-block
		h1 Appointment panel
		hr
		.form-input
			label.control-label Start
			label.data=event.start
		.form-input
			label.control-label Reserved
			label.data=event.duration+' min'
		.form-input
			label.control-label Medic
			label.data.user=event.owner
		if(event.collaborators && (event.collaborators.length > 0))
			.form-input
				label.control-label Collaborators
				div.data: table#collaborators
		.form-input
			label.control-label Patient
			label.data.user=event.patient
		.form-input
			label.control-label Other assistants
			div.data: table
				if(event.collaborators)
					each c in event.collaborators
						tr: td.user=c
				if(event.relatives)
					each r in event.relatives
						tr: td.user=r
		.form-input
			label.control-label Comments
			label.data=event.comments
		.form-input
			label.control-label Status
			label#status.data Retrieving...
		
		.form-actions
			a.btn.btn-danger Cancellations/modifications
			a.btn Confirm assistance
			a#btn-join.hide.btn.btn-success(href="join") Join

	include modals/modal

block scripts
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/jquery-ui.min.js')
	script(src='/js/views/event.js')