extends layout

block head
	link(rel='stylesheet', href='/css/room.css')

block sessionvars
	- var authUser = sessionUser;
	- var pageTitle = title;
	
block content
	script
		| var yourId=#{authUser._id},medicId=#{event.owner._id},patientId=#{event.patient._id},eventId=#{event._id};
	include navigation
	
	div#loader
		img(src="/img/loading.gif")
		p#loader-message Loading the room
	
	div#room(style='display:none')
		div#leftbar
			div#vidYourself.video(style='width:320px; height: 240px;')
			
			table#table-moderation.table.table-bordered.table-striped: tbody
				each p in participants
					tr(id='controls-'+p._id).controls
						td #{p.name}
						td
							i(id='control-volume-'+p._id).icon-volume-on.icon-black
							i(id='control-kick-'+p._id).hide.icon-remove.icon-black
			
			p High resolution:
				input#chk-hires.switch-checkbox(type='checkbox',name='chk-hires',checked=true)
				label.switch-label(for='chk-hires')
					span.switch-inner
					span.switch-switch
				
			
			if(event.owner._id == authUser._id)
				p Reserved time remaining: 
					b: span#countdown=moment().add('m',event.duration).diff(event.start, 'm')
					|  min
				
		#mainVideo
			div#vidMainLeft.video
				label
			div#vidMainRight.video
				label
		div#participants
			.tab(id='tab-'+event.owner._id).tab-medic
				.name #{event.owner.name} (Medic)
				div(id='mini-video-'+event.owner._id).mini-video
			.tab(id='tab-'+event.patient._id).tab-patient
				.name #{event.patient.name} (Patient)
				div(id='mini-video-'+event.patient._id).mini-video
			each p in participants
				if((p._id != event.owner._id) && (p._id != event.patient._id))
					.tab(id='tab-'+p._id)
						if(p.role === 'Medic')
							.name #{p.name} (Collaborator)
						else
							.name #{p.name} (Familiar)
						div(id='mini-video-'+p._id).mini-video
	
	include modals/modal

block scripts
	script(src='/js/erizo.js')
	if(event.moderated == 1)
		script(src='/js/views/moderated-room.js')
	else
		script(src='/js/views/freewill-room.js')
	script(src='/js/views/room.js')
