extends layout

block sessionvars
	- var authUser = sessionUser
	- var pageTitle = title
	
block content
	include navigation
	div.container
		h3 User Admin
		div.content-block
			a(href='/user').btn#btn-adduser
				i.icon-plus.icon-black
				| Add User
			a(href='/user').btn#btn-addroom
				i.icon-plus.icon-black
				| Add Room
			select#room-available-medics
				option
				each user in userList
					if((user.role === 'Medic') && (!user.room))
						option(value=user._id)=user.user
			table.table.table-bordered.table-striped#table1
				thead
					tr
						//(style='width:40px')
						th User
						th Name
						th Role
						th Room
						th Creation Date
	
						//th Sala
				tbody
					each user in userList
						tr
							td
								a(href='/user?userId=#{user._id}')
									span=user.user
							td=user.name
							td=user.role
							if(user.role !== 'Medic')
								td
							else if(user.room)
								td Active
							else
								td No
							td=moment(user.creation).format('DD MM YYYY')

block scripts
	//script(src='/vendor/jquery.form.js')